.about h1 {
  line-height: 50vh;
  color: white;
}

.article-img {
  margin-bottom: 50px;
  background-image: url(../images/escacs.jpeg);
  background-position: center;
  background-size: cover;
}

.article {
  max-width: 80%;
  margin-inline: auto;
  text-align: justify;

  img { max-width: 100%; }

  li { padding-top: 8px; }

  span { font-weight: 600; }
}

.quote {
  padding: 20px 8px 10px 20px;
  margin-left: 10%;
  text-align: right;
  background-color: $light;
  border-right: 5px solid $dark;

  p { font-weight: bold; }
}

blockquote {
  font-family: $font-family-serif;
  font-size: 1.6em;
  font-style: italic;
}
