* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $font-family-sans-serif;
  text-align: center;
  background-color: $bg;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 40px;
}

p {
  margin-block: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.chess-bg {
  background-color: #f1dcbf;
  opacity: 1;
  background-image:  repeating-linear-gradient(45deg, #7b5e22 25%, transparent 25%, transparent 75%, #7b5e22 75%, #7b5e22), repeating-linear-gradient(45deg, #7b5e22 25%, #f1dcbf 25%, #f1dcbf 75%, #7b5e22 75%, #7b5e22);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

.h1 { 
  background-color: white;
  text-align: right;
  padding-right: 30px;
  margin-bottom: 0;
}

.img { 
  background-position: center;
  background-size: cover;
}

.escacs {
  background-image: url(../images/home.jpeg);
}

.sants {
  background-image: url(../images/sants.jpeg);
}

.txt { 
  background-color: white;
  text-align: left;
  p {
    max-width: 40%;
    padding-left: 10%;
    padding-top: 10%;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 12vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .h1 { grid-area: 2 / 5 / 5 / 9; }

  .img { border: 5px solid white; }

  .escacs { grid-area: 3 / 3 / 5 / 5; }
  
  .txt { grid-area: 5 / 1 / 8 / 7; }

  .sants { grid-area: 6 / 4 / 9 / 8; }
}