* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: $font-family-sans-serif;
  text-align: center;
  background-color: $bg;
}

h1 {
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 3rem;
  text-align: center;
}

p {
  margin-block: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.chess-bg {
  background-color: $light;
  background-image: repeating-linear-gradient(45deg, $dark 25%, transparent 25%, transparent 75%, $dark 75%, $dark), repeating-linear-gradient(45deg, $dark 25%, $light 25%, $light 75%, $dark 75%, $dark);
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  opacity: 1;
}

.h1 {
  padding-right: 30px;
  margin-bottom: 0;
  text-align: right;
  background-color: white;
}

.img {
  background-position: center;
  background-size: cover;
}

.escacs {
  background-image: url(../images/home.jpeg);
}

.sants {
  background-image: url(../images/sants.jpeg);
}

.txt {
  text-align: left;
  background-color: white;

  p {
    max-width: 40%;
    padding-top: 10%;
    padding-left: 10%;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-rows: repeat(8, 12vh);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0;
  }

  .h1 {
    grid-area: 2 / 5 / 5 / 9;
  }

  .img {
    border: 5px solid white;
  }

  .escacs {
    grid-area: 3 / 3 / 5 / 5;
  }

  .txt {
    grid-area: 5 / 1 / 8 / 7;
  }

  .sants {
    grid-area: 6 / 4 / 9 / 8;
  }
}
