
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
  text-align: center;
}

.member { width: 400px; }

@include media-breakpoint-up(md) {
  .member { width: 350px; }
}

.member div {
  height: 250px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
}

#member1 { background-image: url(../images/member1.jpeg); }

#member2 { background-image: url(../images/member2.jpeg); }

#member3 { background-image: url(../images/member3.jpeg); }

#member4 { background-image: url(../images/member4.jpeg); }

#member5 { background-image: url(../images/member5.jpeg); }

#member6 { background-image: url(../images/member6.jpeg); }
