footer,
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding-inline: 10%;
  background-color: $dark;

  li {
    display: inline;
    padding-inline: 10px;
  }
}

a {
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

a:hover {
  color: $light;
}

a:hover img {
  border: 2px solid $light;
}

footer {
  margin-top: 100px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
