footer, header {
  background-color: #7b5e22;
  min-height: 100px;
  display: flex;
  padding-inline: 10%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  li {
    display: inline;
    padding-inline: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

footer {
  margin-top: 100px;
}

.logo {
  border-radius: 100%;
  height: 70px;
  width: 70px;
}


